<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservar Livro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Reservar Livro</h1>
    <form method="POST">
        <label for="nome_reservante">Nome do Reservante:</label>
        <input type="text" id="nome_reservante" name="nome_reservante" required>
        <button type="submit">Reservar</button>
    </form>
    <a href="{{ url_for('view_books') }}">Voltar</a>
</body>
</html>
