<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Lista de Livros</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Lista de Livros</h1>
    <ul>
        {% for codigo, livro in books.items() %}
        <li>
            <strong>Nome:</strong> {{ livro.nome }}<br>
            <strong>Editora:</strong> {{ livro.editora }}<br>
            <strong>Ano:</strong> {{ livro.ano }}<br>
            <strong>Valor Pago:</strong> {{ livro.valorpago }}<br>
            <a href="{{ url_for('edit_book', codigo=codigo) }}">Editar</a> - 
            <a href="{{ url_for('delete_book', codigo=codigo) }}">Excluir</a>
        </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('add_book') }}">Adicionar um novo livro</a>
</body>
</html>
